<ng-container *ngFor="let order of allOrders">
    <div class="accordion" id="accordion">
        <div class="accordion-item">
            <h4 class="accordion-header" id="heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapseOne">
                  <h5>Order nº: {{ order.id }}</h5>
                </button>
            </h4>

            <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordion">
                <div class="accordion-body pb-2">
                    <h6>Nombre del Cliente: {{ order.custName }}</h6>
                    <h6>Productos: </h6>
                    <ul *ngFor="let product of order.products">
                        <li><strong>{{ product.label }}</strong></li>
                        <ul *ngFor="let extra of product.extras">
                            <li><i>{{ extra.label }}:</i> {{ extra.quantity}}</li>
                        </ul>
                    </ul>
                    <h6 class="text-end">{{ order.totalPrice }}€</h6>
                </div>
            </div>
        </div>
    </div>

</ng-container>
