<form [formGroup]="fgInfo" (ngSubmit)="onSubmitForm()">
    <label for="first-name">First Name: </label>
    <input type="text" formControlName="fcName">
    <br>
    <label for="last-name">Last Name: </label>
    <input type="text" formControlName="fcEmail">
    <br>
    <label for="check">Adult: </label>
    <input type="checkbox" formControlName="fcCheck">
    <br>
    <ng-container *ngIf="fgInfo.value.fcCheck === true">
        <app-extras-panel [inputExtras]="EXTRAS_WEB" [parentForm]="fgInfo.get('fgExtras')"></app-extras-panel>
    </ng-container>

    <p>Complete the form to enable button.</p>
    <input class=" btn btn-success " type="submit " [disabled]="!fgInfo.valid " value="submit " />
</form>