<form [formGroup]="fgInfo" (ngSubmit)="onSubmitForm()">
    <label for="first-name">First Name: </label>
    <input type="text" formControlName="fcName">
    <br>
    <label for="last-name">Last Name: </label>
    <input type="text" formControlName="fcLastName">
    <br>
    <label for="check">Adult: </label>
    <input type="checkbox" formControlName="fcCheck">
    <br>

    <div formGroupName="fgAddress">
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="fcStreet">
        <br>
        <label for="city">City: </label>
        <input type="text" formControlName="fcCity">
    </div>


    <p>Complete the form to enable button.</p>
    <input class="btn btn-success" type="submit" [disabled]="!fgInfo.valid" value="submit" />
</form>