<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <h2>¿Qué quieres hacer?</h2>

            <form class="container check" [formGroup]="form" ngDefaultControl (change)="getOrderPrice()">
                <div *ngFor="let p of products">
                    <app-my-checkbox [product]="p" ngDefaultControl formControlName="'fcProduct'+{{p.prodName}}"></app-my-checkbox>
                    <div *ngIf="p.isChecked && p.extras.length >0">
                        <!-- si está check y si tiene un extra o más -->
                        <app-extras-panel [inputExtras]="p.extras" ngDefaultControl [formGroup]="form.get('fgExtras')?.value"></app-extras-panel>
                    </div>
                </div>
                <p>Precio: {{ [(orderPrice | currency: 'EUR')] }}</p>
                <!-- input para nombre y botón submit -->
                <div class="container ms-auto">
                    <div class="input-group">
                        <input type="text" ngDefaultControl [(ngModel)]="customerName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <div class="btn btn-outline" (click)="saveOrder()">Enviar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-5">
            <app-order-list></app-order-list>
        </div>
    </div>
</div>
<div class="text-center">
    <button class="mb-5" [routerLink]="['/dashboard']">Atrás</button>
</div>

<!-- Para hacer un log de qué tiene el formulario -->
<div>form: {{ form }} </div>
