<div class="container">
    <article class="container text-justify">
        <h1 class="py-2">{{DATA.title}}</h1>
        <h5 class="pb-5 text-muted ">{{DATA.preamble}}</h5>
        <section>
            <article>
                <div class="row">
                    <h2 class="pb-3"><b>Descripción de la aplicación:</b></h2>
                    <div class="col-lg-9  my-auto">
                        <p>{{DATA.modelDescription}} </p>
                    </div>
                    <div class="col-lg-3">
                        <img src="../../../assets/img/screenshots/screenshot-model.PNG" alt="model" class="mb-0">
                        <figcaption class="text-center text-muted">Modelo de datos del Producto</figcaption>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-lg-6">
                        <img src="../../../assets/img/screenshots/screenshot-home.PNG" height="350px" alt="Home Component" class="mb-0">
                        <figcaption class="text-center text-muted">Vista de Home Component</figcaption>
                    </div>
                    <div class="col-lg-6 my-auto">
                        <p>{{DATA.generalFunctioning}}</p>
                        <p>{{DATA.homeComponentFuncionting}}</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-lg-6  my-auto">
                        <p>{{DATA.checkboxComponentFunctioning}}</p>
                        <p>{{DATA.panelComponentFunctioning}}</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="../../../assets/img/screenshots/estructura-componentes.png" height="400px" alt="Estructura Componentes" class="mb-0">
                        <figcaption class="text-center text-muted">Componentes de la aplicación</figcaption>

                    </div>
                </div>


            </article>
            <p>{{DATA.closing}}</p>
        </section>
        <div class="pt-2 text-center">
            <button class="mb-5" [routerLink]="['/home']">Empezar</button>
        </div>
    </article>

</div>